{% extends "index.html" %}

{% block title %}Home - Smart Home{% endblock %}

{% block content %}
<div class="home-container">
  
    {% include 'components/navbar.html' %}

    <div class="grid-container">
        
        {% with onErrorImage="{{ url_for('static', filename='images/picture.png') }}" %}        
            {% include 'components/cameraContainer.html' %}
        {% endwith %}

        <div class='mainDoorContainer flexContainer'>
            {% with room="livingRoom", label="Living Room", state=lightStates.livingRoom %}
                {% include 'components/lightButton.html' %}
            {% endwith %}
            <div id="mainDoor" class="door {{ 'on' if doorStates.mainDoor else 'off' }}">Main Door</div>
        </div>

        {% with room="diningRoom", label="Dining Room", state=lightStates.diningRoom %}
            {% include 'components/lightButton.html' %}
        {% endwith %}

        <div class='kitchenContainer'>
            <div id="backDoor" class="door backDoor flexContainer {{ 'on' if doorStates.backDoor else 'off' }}">Back Door</div>
            {% with room="kitchen", label="Kitchen", state=lightStates.kitchen %}
                {% include 'components/lightButton.html' %}
            {% endwith %}
        </div>
        
        <div class='room1-container flexContainer'>
            {% with room="room1", label="Room 1", state=lightStates.room1 %}
                {% include 'components/lightButton.html' %}
            {% endwith %}
            <div id="room1Door" class="door {{ 'on' if doorStates.room1Door else 'off' }}">Room 1 Door</div>
        </div>

        <div class='room2-container flexContainer'>
            {% with room="room2", label="Room 2", state=lightStates.room2 %}
                {% include 'components/lightButton.html' %}
            {% endwith %}
            <div id="room2Door" class="door {{ 'on' if doorStates.room2Door else 'off' }}">Room 2 Door</div>
        </div>

        <div class="garage">Garage</div>

        <div class="flexContainer arrowContainer">
            <img src="{{ url_for('static', filename='images/arrow.png') }}" alt="A left arrow logo" class='arrow'/>
        </div>
    </div>

    {% include 'components/toggleLights.html' %}

</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}
